*{
    margin: 0;
    padding: 0;
}

/* font-family: 'Domine', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Outfit', sans-serif; */


/* 2 */
header2{
    display: none;
}
.cntre{
display: none;
}
.cntre2{
    display: none;
}


/* header start */
.header-img{
    text-align: center;
    font-size: 3rem;
    background-color: blueviolet;
    padding: 10px;

}
.header-img i{
    color: white;
    border: white 5px solid;
    border-radius: 50%;
    padding: 10px;
    transition: 3s;
    transform: rotate(-360deg);
    
}
/* header nav start */

.header-nav{
    text-align: center;
    background-color: blueviolet;
    padding-bottom: 10px;
}
.header-nav a{
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 2px;
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Montserrat Alternates', sans-serif;
}
.header-nav a:hover{
    background-color: white;
    border-radius: 10px;
    color: blueviolet;

}

/* header nav end */
/* header end */

/* main start */
main{
    background-image: url(pic/restaurant.jpg);
    text-align: center;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
main h1,h2{
    color: rgb(0, 0, 0);
    color: white;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    display: block;
    font-size: 200%;
    text-shadow: rgb(0, 0, 0) 0 2px 10px;
    cursor:help;
   
}
main h2{
    background-color: rgba(179, 255, 0, 0.7);
}
main h1{
    font-size: 3rem;
    background-color: rgba(183, 0, 255, 0.7);
    font-family: cursive;
}
main a{
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: rgb(0, 0, 0) 0 2px 10px;
    color: white;
    background-color: rgba(123, 255, 0, 0.7);
}
main a h2{
    background-color: rgba(255, 0, 0, 0.7);
    
}
main a h2:hover{
    background-color: rgba(0, 68, 255, 0.7);
    cursor: pointer;
    transition: 1s;
}
/* main end */

/* Footer start */

footer{
    padding: 10px;
    text-align: center;
}
.footer-about{
    text-align: center;
    padding: 10px;
    background-color: thistle;
}

.footer-menu{
    background-color: rgb(191, 211, 216);
    margin: 10px 0px;
    padding-bottom: 20px;
}

.footer-about h3{
    font-size: 3rem;
}
.footer-about p{
    text-align: justify;
    font-size: 1.2rem;
    
}

.footer-menu-p{
    font-size: 3rem;
}
/* about end */

.menu-pic1{
    text-align: center;
    background-color: rgb(78, 97, 44);
    color: white;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    
}
.menu-pic1:hover{
    transition: 1s;
    transform: scale(1.05);
}
.menu-pic1 img{
    width: 90%;
    
}
.menu-pic1 h3{
    font-size: 2rem;
}
.menu-pic1 p{
    font-size: 1.1rem;
    padding: 10px;
}
.menu-pic1-btn{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    
}
.menu-pic1-btn button{
    margin-top:10px ;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: cursive;
    border-radius: 10px;
}
.menu-pic1-btn button:hover{
    background-color: yellow;
}

/* Footer end */


/* contact start */

.contact-end h4{
    font-size: 3rem;
}

.contact-end{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: thistle;
}
/* contact-mid */
.contact-mid{
    margin: 10px;
}
.contact-mid h5{
    font-size: 2rem;
    color: darkviolet;
}
.contact-mid p{
    font-size: 1.21rem;
}
.contact-mid b{
    color: deeppink;
    font-size: 1.5rem;
}

/* contact right */
.contact-right a {
    text-decoration: none;
    cursor: pointer;
}
.contact-right a button{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    margin-left: 10px;
}
.contact-right a button:hover{
    background-color: rgb(195, 0, 255);
    transition: 3s;
    transform: rotate(360deg);
}

.contact-right a button i{
    color: rgb(43, 255, 0)
}

/* end display */
.end-display{
    display: flex;
    padding: 10px;
    background-color: black;
    color: white;
}
.end-display h6{
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10%;
}
.end-display-righ{
    
    margin-left: 30px;
    margin-right: 10px;
}
.end-display p{
    text-align: center;
}

.end-i{
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 5rem;
    background-color: grey;
}
.end-i a i{
    color: black;
}
.end-i a i:hover{
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 50%;
    
}