/*   font-family: 'Italianno', cursive;
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; */


    /* Initial Select */ 
    /* For All */
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-weight: 400;
        box-sizing: border-box;
        list-style-type: none;
        outline: 0;
    }

    html{
        scroll-behavior: smooth;
        font-size: 62.5%;
        font-family: 'Roboto', sans-serif;
        background-color: #fafafa;
    }

    body{
        background-color: #fff;
        width: 120rem;
        max-width: 100%;
        margin: auto;
        box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, 
        -0.1rem 0rem 0.1rem #c4c4c4;
    }

    /* for All */
    /* Initial Select */

        /* Header Start */

header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10PX;
    width: 100%;
    position:sticky;
    z-index: 10;
    top: 0;
}

.logo-pic{
    font-size: 4rem;
    padding: 10px;
    border: 2px whitesmoke SOLID;
    color: whitesmoke;
    border-radius: 50%;
    box-shadow: white 0.1rem 0.1rem 1rem;
    text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem 1rem;
}

 /*.nav-ul{}*/

.nav-li{
    color: #fff;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    transition: .4s;
}
.nav-li:hover{
    cursor: pointer;
    background-color: rgba(0,255, 255, 0.5);
    border-radius: 1rem;
}
        /* Header End */



/* Main start */

        /* Banner section start */
        #banner-blog{
            display: flex;
            padding: 10px;
            margin: 10px 0;
            align-items: center;
        }
        .banner-image{
            margin-left: 10px;
            text-align: center;
            width: 50%;

        }
        .banner-pic{
            width: 100%;
            border-radius: 10px;
            box-shadow: #000000 0.1rem 0.1rem 0.1rem, #000000 -0.1rem 0rem 0.1rem;
        }
        .banner-article{
            text-align: justify;
            width: 50%;
            margin-right: 10px;
        }
        .banner-article h1{
            background-color: black;
            color: blanchedalmond;
            font-size: 3rem;
            text-align: center;
            margin: 10px 0;
        }
        .banner-article p{
            font-size: 1.8rem;
        }



       /* Banner section End */
       /* for alli  */
       h2{
        font-family: 'Merriweather', serif;
       }




       /* go to top hide */
       .gototop{
           display: none;
       }

       /* about start */

       #about{
           text-align: center;
           justify-content: space-evenly;
           background-color: honeydew;
           margin: 10px 0;
           padding-bottom: 15px;
       }

       .about-head{
           margin: 10px 0;
           font-size: 4rem;
           color:black;
           display: inline-block;
           padding: 10px;
           font-weight: bolder;
       }

       .about-card{
           display: flex;
           flex: 1;
       }

       .card1{
           background-color: rgb(163, 160, 160);
           padding: 10px;
           margin: 10px;
           text-align: center;
           flex: 1;
           
       }

       .card1:hover{
           transform: scale(1.05);
           transition: 1s;
       }

       .card1 h3{
           font-size: 2.2rem;
           text-align: center;
           margin: 10px;
           background-color: black;
           color: rgb(255, 255, 255);
           
       }

       .card1 p{
           font-size: 1.5rem;
           text-align: justify;
       }

       .card1 button{
           align-self: center;
           text-align: center;
           margin: 10px;
           width: 50%;
           font-size: 1.8rem;
           border-radius: 2px;
           background-color: rgb(252, 248, 0);
           padding:10px;
       }


       /* about end */






       /* Archive Start */
       .bold-hr{
           height: 1px;
           border: black solid 2px;
           width: 98%;
           margin: 10px auto;
       }

       #archive{
           background-color: khaki;
           text-align: center;
       }

       .arc-img{
           display: flex;
           text-align: center;
           align-items: center;
       }
       .archive-img{
           width: 18%;
           margin: auto;
           border-radius: 3px;
           box-shadow: white 1px 1px 1px, white -1px -1px -1px;
       }
       .archive-img:hover{
           transform: scale(1.08);
           transition: 1s;
           box-shadow: 2px 2px 2px;
       }



    /* Archive End */


    /* Blog Post Start */

    #blogpost{
        text-align: center;
        background-color:rgb(243, 243, 200);
        margin: 20px 0;
    }

    .blog-part{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 25px auto;
        box-shadow: black 0 2px 2px 0;
        height: auto;
        padding: 0;
       background-color: thistle;
    }
    .blog-part:hover{
        transition: 1s;
        transform: scale(1.1);
    }

    .blog-class{
        display: flex;
        flex-direction: row;
    }

    .blog-pic{
        flex:1;
    }
    .blog-article{
        flex: 2;
        text-align: center;
        padding:0 15px;
    }
    .blog-article h3{
        font-size: 3rem;
        margin-bottom: 10px;
        background-color: black;
        color: white;
    }
    .blog-article p{
        font-size: 2rem;
        text-align: justify;
    }

    .blog-article button{
        align-self: center;
        text-align: center;
        margin: 10px;
        width: 50%;
        font-size: 1.8rem;
        border-radius: 2px;
        background-color: rgb(252, 151, 0);
        padding:10px;

    }




    /* Blog Post End */

    /* Contact Section Start */
#Contact{
    text-align: center;
    height: 80vh;
    align-items: center;
    background-color: #867575;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

#Contact h2{
    display: block;
}

#Contact form{
    padding: 10px;
    text-align: center;
    width: 60%;
    background-color: rgb(80, 69, 69);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 10px;
    margin: auto;
  
   
}

.form-style{
    text-align: center;
    margin: 10px;
    align-items: center;
    justify-content:center;
    display: flex;
    flex-direction: column;
    gap: 10px;
 
   
}

.btnn,textarea{
    width: 100%;
    height: 10vh;
    
    border-radius: 5px;
    border: blue 1px solid;
    
   
}
.form-style label{
    font-size: 2rem;
    font-family: monospace;
    font-weight: bolder;
}
.form-buttton button input{
    align-self: center;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 5px;
    background-color: rgb(252, 151, 0);
    padding:5px;
}
.form-buttton button{
    border-radius: 5px;
    background-color: blueviolet;
}



    /* Contact Section End */

/* Main end */


/* footer start */

footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    align-items: center;
    color: white;
}

footer h4{
    font-size: 2rem;
    
}

.footer-right a i{
    font-size: 3rem;
    padding: 0 20px;
    color: white;
}

/* footer end */
































                /* Media Responce */

                @media (max-width:768px) 
                {

                    header{
                        flex-direction: column;
                        position: relative;
                    }
                    .nav-ul{
                        margin: 15px;
                    }
                    .nav-li{
                        display: block;
                    }

                    #banner-blog{
                        flex-direction: column;
                    }
                    .banner-article{
                        width: 80%;
                        margin: 10px 0;
                    }
                    .banner-image{
                        width: 80%;
                        margin: 10px 0;
                    }

                    .about-card{
                        flex-direction: column;

                    }
                    .card1{
                        width: 80%;
                        margin: 10px auto;
                    }

                    .arc-img{
                        flex-direction: column;
                    }
                    .archive-img{
                        width: 80%;
                        margin: 10px auto;
                    }

                    .blog-part{
                        margin-bottom: 40px;
                    }


                    .blog-class{
                        flex-direction: column;
                    }
                    .blog-image{
                        width: 98%;
                        padding-bottom: 10px;
                        padding-top: 2%;
                    }


                    #Contact{
                        
                        padding-bottom: 100px;
                        height: 90vh;
                    }

                    .footer-right a i{
                        font-size: 2rem;
                        padding: 0 10px;
                    }


                    .gototop{
                        display:inline-block;
                        text-align: left;
                        padding: 10px;
                        font-size: 2rem;
                        position: sticky;
                        top: 0;
                        z-index: 20;
                        background-color: rgba(0, 0, 0, 0.486);
                        color: black;
                        border-radius: 10px;
                        cursor: pointer;
                        
                    }









                }
                /* Media Responce */